<footer>
    <p> pour plus d'info contacter moi au 06.23.94.63.49</p>
<div class="tenor-gif-embed" data-postid="17748808" data-share-method="host" data-aspect-ratio="1" data-width="10%"><a href="https://tenor.com/view/tails-cute-happy-pixelated-bouncing-gif-17748808">Tails Cute Sticker</a>from <a href="https://tenor.com/search/tails-stickers">Tails Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</footer>