<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            
            <li><a href="/voiture">voir toutes les voitures</a></li>
            
        </ul>
    </nav>
</header>
