:root {
    --background: #0D1520;
    --input:#121C18;
    --component: #0D2847;
    --border: #104D87;
    --border-light:#2870BD;
    --mainColor:#0090FF;
    --mainColor-light:#3B9EFF;
    --text:#70B8FF;
  }


  @font-face {
    font-family: 'MaPolice';
    src: url('/fonts/Serotiva-Regular-BF6639850925daa.otf') format('opentype'); /* Format OTF */
}



body{
    margin: 0;
    padding: 0;
    background-color:var(--background);
}



/*donnée*/

.donnée{
    background-color:var(--component);
    border: solid 2px var(--border);
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 50px;

}

.donnée div:first-child {
    display: flex;
    margin-left: 1vw;
}

.donnée > div > p {
    font-size: 40px;
   margin-right: 1vw;
   font-weight: bold;
}


/*ui*/

.title {
    height: 50vh;
    background-image: url('/media/car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.titre-form >p{
    font-size: 40px;
}
.form-background{
    background-color:var(--component);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.titre-form {
    flex: 1; /* Prend la moitié de l'espace disponible */
}

.form-container {
    flex: 1; /* Prend la moitié de l'espace disponible */
}


/*formulaire*/

label{
    color:var(--text);
    font-size: 25px;
    font-family: 'MaPolice', sans-serif;
}

input{
    background-color: var(--input);
}

input {
    border: 1px solid var(--border); /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    background-color: var(--input); /* Couleur de fond */
    color: var(--text); /* Couleur du texte */
    transition: border-color 0.3s ease; /* Animation de transition */
    margin-left: 2vw;
}

/* Style lorsqu'il est en focus */
input:focus {
    border-color: var(--border-light); /* Couleur de la bordure au focus */
    outline: none; /* Suppression de l'outline */
}



select {
    /* Styles pour l'élément select */
    background-color: var(--input); /* Couleur de fond */
    color: var(--text); /* Couleur du texte */
    border: 1px solid var(--border); /* Bordure */
    padding: 8px; /* Remplissage */
    border-radius: 5px; /* Rayon de la bordure */
    font-size: 16px; /* Taille de la police */
    
    box-sizing: border-box; /* Inclure la bordure dans la largeur */
    cursor: pointer; /* Curseur */
}

#choose_dateand_price> div {
    margin-top: 2vh; /
}



.form-container button[type="submit"] {
  
    background-color: var(--mainColor);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2vh;
}


.form-container button[type="submit"]:hover {
    background-color: var(--mainColor-light);
}

/*style généraux */

h1{
    font-size: 50px;
    text-align: center;
    color: var(--text);
    font-family: 'MaPolice', sans-serif;
    margin: 0;
}

p{
    color: var(--text);
    font-family: 'MaPolice', sans-serif;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

li{
    margin-right:20px ;
}

a{
    text-decoration: none;
}

/*header*/

header {
    display: flex;
    background-color: var(--component);
    height: 10vh;
    font-family: 'MaPolice', sans-serif;
}

nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.menu-link {
    color: var(--text);
    font-size: 20px;
    font-family: 'MaPolice', sans-serif;
    margin: 0 10px; 
    text-decoration: none; /* Supprimer la soulignement par défaut */
}

/*footer*/

footer{
    background-color:var(--component);
    height: 20vh;
    font-family: 'MaPolice', sans-serif;
    border-radius: 100px 100px 0px 0px;
}
