{% extends 'base.html.twig' %}

{% block title %} création {% endblock %}


{% block body %}
 <h1>créer une location </h1>

 <h2> 1 tout d'aborb créer un vehicule ou selectioner un dejat present</h2>

 <h2> 2 ajout des créneau de de disponibilité à ce vehicule</h2>
 
<p>ne pas oublier d'ajouter la liste des vehicule deja existant </p>
 
{% endblock %}
